header { /* #1 */
    border: 1px solid goldenrod;
}

nav ul li {
   display: inline;
}

/* #4 */
.disabled {
   color: grey;
}

a .disabled {
   color: purple;
}


.active { /* #5 */
   color: yellow;
}

h4 + div div { /* #8 */
   color: red;
}

h4 + div h4 + div { /* #9 */
   color: blue;
}


.parent > h4 { /* #10 */
   background-color: red;
}

.parent + h4 { /* #11  & #12 */
   background-color: blue;
   border: 1px;
   border-radius: 20%;
}

.promo { /* #13 */
   font: bold;
   color: gold;
}

footer input { /* #14 */
   height: 25px;
}