header { /* #1 */
    border: 1px solid goldenrod;
}

nav ul li {
   display: inline;
}

/* #4 */
.disabled, .disabled:visited {
   color: grey;
}

a .disabled {
   color: purple;
}


.active { /* #5 */
   color: yellow;
}

.parent > div > div { /* #8 */
   color: red;
}


.parent > div > h4 + div { /* #9 */
   color: blue;
}


.parent div h4  { /* #10  */
   background-color: red;
}

.parent h4 ~ h4 {
   background-color: blue;
}


.grandparent > h4 { /* #11  & #12 */
   border: 1px solid black;
   border-radius: 20px;
}

.promo { /* #13 */
   font: bold;
   color: gold;
}

footer input { /* #14 */
   height: 25px;
}